body {
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: ivory;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline;
}

#navbar a {
  margin-left: 75px;
  margin-right: 75px;
}

=======
  font-family: 'Open-Sans', sans-serif;
  color: darkblue;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  background-color: ivory;
}

>>>>>>> css-1
h1, h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  float: left;
  margin-right: 10px;
<<<<<<< HEAD
}

.left {
  float: left;
  width: 300px;
  padding: 1em;
}

.right {
  float: right;
  width: 300px;
  padding: 1em;
}

.center {
  margin-left: 300px;
  margin-right: 300px;
  padding: 1em;
=======
>>>>>>> css-1
}